In [2]:
import pandas as pd
import numpy as np

titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')

In [97]:
a = titanic['name'].str.split("." ).str.get(1).str.split(" " ).str.get(2).isnull().sum()
#chlapi
#označení spojené s jeho rodinným stavem a pohlavím (miss., mr. atd.) je vždy zakončené tečkou a po něm následuje už jen příjmení a druhé/třetí... křestní jméno. Pokud má jen jedno křestní jméno musí po rozdělení mezerami zůstat jen dva textové řetězce
b = (titanic['name'].str.split('(').str.get(1).str.split(' ').str.get(1).str.split(')').str.get(1)=="").sum()
#ženy, své celé dívčí jméno mají v závorce
#pokud tu část se závorkou, rozdělíme podle mezer měly by ty ženy, které mají jen jedno křestní jméno být rozděleny dva řetězce(příjmení a křestní jméno), pokud jsou tam tři řetězce, má daná osoba dvě křestní jména
#pokud má daná osoba jen jedno dívčí jméno, musí druhý textový řetězec(příjmení) zakončen závorkou, pokud tento řetězec rozdělíme závorkou ")" a budeme požadovat druhou část (1) řetězce, dostaneme NaN pokud tam závorka nebyla (jedná se o druhé křestní jméno), pokud se jedná o příjmení jedná se o prázdný textový řetězec
c = (titanic['name'].str.split("." ).str.get(1).str.split(" " ).str.get(2)=='Jr').sum()
#Jr se píše na konci jména, takže pokud je to poslední jména a má daná osoba za tečkou jen dva textové řetězce, musí mít pouze jedno křestní jméno
d = (titanic['name'].str.split("." ).str.get(1).str.split(" " ).str.get(2)=='IV').sum()
#Někteří lidé mají za svým jménem pořádí (například Karel IV, Jindřich VIII)
e = (titanic['name'].str.split("." ).str.get(1).str.split(" " ).str.get(2)=='II').sum()
#Další číslovka, která se objevila v seznamu z Titaniku byla V. U ní nemohu rozpoznat zda se jedná o číslovku, nebo zkratku jména

OneFirstName= a+b+c+d+e
OneFirstName

555

In [174]:
np.argmax(titanic.groupby('boat').name.count())

'13'