In [7]:
import pandas as pd
import numpy as np

titanic = pd.read_excel('http://biostat.mc.vanderbilt.edu/wiki/pub/Main/DataSets/titanic3.xls')

In [112]:
a = titanic['name'].str.split('(').str.get(0).str.split(' ').str.get(3).isnull().sum()
#Každý pasažér má minimálně jedno křestní jméno, příjmení a označení spojené s jeho rodinným stavem a pohlavím (miss., mr. atd.). Pokud tedy nemá druhé křestní jméno a rozdělíme jeho atribut name podle mezer, tak získáme tři textové řetězce, pokud by se skládal ze čtyř řetězců, znamená to nejspíše, že má dvě příjmení. 
#Ženy mají za svým jménem většinou napsáno jméno manželovo, proto je třeba pracovat jenom s tou částí řetězce, které je před závorkou.

b = (titanic['name'].str.split(' ').str.get(3)=='Jr').sum()
#Jr se píše na konci jména, takže pokud je to poslední (čtvrtá část), jeho jména, musí daná osoba mít pouze jedno křestní jméno

c = (titanic['name'].str.split(' ').str.get(3)=='IV').sum()
#Někteří lidé mají za svým jménem pořádí (například Karel IV, Jindřich VIII). Pokud je čtvrtá část jeho jména rozdělená mezerami, pořadová číslovka, má daná osoba jen jedno křestní jméno 

d = (titanic['name'].str.split(' ').str.get(3)=='II').sum()
#Další číslovka, která se objevila v seznamu z Titaniku byla V. U ní nemohu rozpoznat zda se jedná o číslovku, nebo zkratku jména

OneFirstName= a+b+c+d
OneFirstName

469

In [174]:
np.argmax(titanic.groupby('boat').name.count())

'13'